.WeatherChart{
    width: 100%;
    height: auto;
    background-color: rgba(240, 235, 235, 0.267);
    padding: 2rem;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}